body {
	padding: 10px;
}

form {
	width: 600px;
	margin: 0 auto;
}

img, iframe {
	display: inline-block;
	vertical-align: top;
}

img {
	max-height: 300px;
}

.gamesList>li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin-left: 20px;
	width: 250px;
}

.gamesList li button {
	width: 100%;
}

.gamesList li ul {
	padding: 0;
	margin: 0 auto;
	width: 230px;
}

.gamesList li ul li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin-left: 20px;
}

.gamesList li ul li:first-child {
	margin: 0;
}

.divPicture {
	margin: 10px 0;
	height: 140px;
	text-align: center;
}

.game {
	width: 85%;
	margin: 0 auto;
	max-width: 800px;
	padding-bottom: 50px;
}

.presentation {
	position: absolute;
	background-color: #008CBA;
	color: #fff;
	width: 500px;
	height: 100vh;
	top: 0;
	left: -495px;
	padding: 10px 0 0 10px;
	transition: 0.4s;
	border-right: solid 5px #008CBA;
}

.presentation.active {
	left: 0;
}

.presentation .arrow {
	position: absolute;
    top: 50%;
    right: -33px;
    background-color: #008CBA;
    color: #fff;
    font-size: 2em;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    padding-left: 16px;
    width: 40px;
    height: 48px;
    margin-top: -24px;
    cursor: pointer;
}

h1 {
	color: #fff;
	font-size: 2em;
}
